<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>Your page title</title>
        {% endblock %}
    </head>
    <body>
        {% block content %}
          <div class="form-group">
            <div class="container m-1 mt-5">
              <div class="row">
                <div class="col-8">
                  {% for action in data.actions %}
                  <div class="card mb-3" style="width: 18rem;">
                    <div class="card-body">
                      <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#actionCollapse{{ action.id }}" aria-expanded="false" aria-controls="actionCollapse{{ action.id }}">
                        <h5>{{ action.name }}</h5>
                      </button>
                      <h6>{{ action.type }}</h6>
                        <div class="collapse" id="actionCollapse{{ action.id }}">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                              {% for parameter in action.parameters %}
                                {{ parameter.name }}
                              {% endfor %}
                            </li>
                            <li class="list-group-item">
                              {% for setting in action.settings %}
                              <div class="row">
                                {{ setting.name }}
                                {{ setting.bounds }}
                                <input type="range"step="0.01" min="{{ setting.bounds[0] }}" max="{{ setting.bounds[1] }}" value="{{ setting.value }}" class="form-range" id="customRange1">
                              </div>
                              {% endfor %}
                            </li>
                          </ul>
                        </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                <div class="col-4">
                  {% for key in data.triggers %}
                    {% for trigger in key %}
                    <div class="card mb-3" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">{{ trigger.type }} {{ trigger.key }}</h5>
                        <h4>{{ trigger.control }}</h4>
                        <div class="form-group row">
                          <label for="trigger-bounds-{{ trigger.id }}">Bounds</label>
                          <input type="text" class="form-control" id="trigger-bounds-{{ trigger.id }}" placeholder="(0, 1)">
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        {% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>