<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Py-Lights UI</title>
    <link rel="stylesheet" href= "{{ url_for('static',filename='bootstrap.min.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script>
		var data = {{ data|tojson }};
		alert(data)
	</script>

</head>

<body>
<h1>Py-Lights</h1>
<hr class="alert-primary">
<div class="container pt-5">	
	<div>
		{% for row in data.actions %}
		<div class="bg-primary">
		<h4>{{ row.name }}</h4>
			<form method="POST">
				<table class="table-actions table-hover mb-4 ml-3">
					<th class="pl-2 pr-2">Type</th>
					<th class="pl-2 pr-2">Key</th>
					<th class="pl-2 pr-2">Setting</th>
					<th class="pl-2 pr-2">Inverted</th>
					<th class="pl-2 pr-2">Min</th>
					<th class="pl-2 pr-2">Max</th>	
					{% for input in row.inputs %}
					<tr>
					</tr>
					<tr>
						<td class="pl-2 pr-2">
							<div class="form-group">
								<select class="form-control" name="trigger">
									<option
									{% if (input.type == "hold") %} selected="selected" {% endif %}
									>hold</option>
									<option
									{% if (input.type == "knob") %} selected="selected" {% endif %}
									>knob</option>
									<option
									{% if (input.type == "trigger") %} selected="selected" {% endif %}
									>trigger</option>
									<option
									{% if (input.type == "trigger_hold") %} selected="selected" {% endif %}
									>trigger_hold</option>
								</select>
							</div>
						</td>
						<td class="pl-2 pr-2">
							<div class="form-group">
								<select class="form-control">
									{% for i in range(128) %}
									<option
									{% if (input.key == i) %} selected="selected" {% endif %}
									>{{ i }}</option>
									{% endfor %}
								</select>
							</div>
						</td>
						<td class="pl-2 pr-2">
							<div class="form-group">
								<select class="form-control">
									{% for setting in input.action.settings %}
									<option
									{% if (input.setting == setting) %} selected="selected" {% endif %}
									>{{ setting }}</option>
									{% endfor %}
								</select>
							</div>
						</td>
						<td class="pl-2 pr-2">
							<div class="form-group">
								<select class="form-control">
									<option
									{% if (input.inverse == "True") %} selected="selected" {% endif %}
									>True</option>
									<option
									{% if (input.inverse == "False") %} selected="selected" {% endif %}
									>False</option>
								</select>
							</div>
						</td>
						<td class="pl-2 pr-2">{{ input.min }}</td>
						<td class="pl-2 pr-2">{{ input.max }}</td>

						<td><button class="btn btn-success">Save</button></td>
						<td><button class="btn btn-danger">Delete</button></td>
					</tr>
					{% endfor %}
				</table>
			</form>
		</div>
		{% endfor %}
	</div>
</div>
</body>
</html>
