<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Py-Lights UI</title>
    <link rel="stylesheet" href= "{{ url_for('static',filename='bootstrap.min.css') }}">


</head>

<body>
hello world!
<div>	
	<table class="table-actions">
		{% for row in data.actions %}
			<tr>
				<td>Name: {{ row.name }}</td>
				{% for setting, value in row.settings.items() %}
					<td>{{ setting }}: <input type="text", name="a", value="{{ value }}"></td>
				{% endfor %}
			</tr>
		{% endfor %}
		<tr><td><button>Apply Changes (ctrl + s)</button></td></tr>

	</table>
	<table class="table-inputs">
		{% for row in data.inputs %}
			<tr>
				<td>{{ row.action }}</td>
			</tr>
		{% endfor %}
</div>
</body>
</html>
